{% extends 'admin_base.html.twig' %}

{% block page1 %}
    <script src="{{ asset('node_modules/chart.js/dist/Chart.js') }}"></script>
    <div class="userCount" id="data" data-week-id="{{ weekActivity }}" data-month-id="{{ monthActivity }}" data-year-id="{{ yearActivity }}">
        <canvas id="current"></canvas>
        <div class="chartGroup">
            <canvas id="week" onclick="chart(7, {{ weekActivity }})"></canvas>
            <canvas id="month" onclick="chart(30, {{ monthActivity }})"></canvas>
            <canvas id="year" onclick="chart(365, {{ yearActivity }})"></canvas>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin_user_charts.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin_1.css') }}">
{% endblock %}