<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}تعرفشي؟!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/Client.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{{ asset('/img/logo-web.png') }}" alt="logo">
            </div>
            <div class="menu">
                <a href="{{ path('landing_page') }}" class="item {% if current == 0 %} active {% endif %}">
                    {% include 'svg/home.svg.twig' %}
                    <p class="title">Accueil</p>
                </a>
                <a href="{{ path('categories') }}" class="item {% if current == 1 %} active {% endif %}">
                    {% include 'svg/interface.svg.twig' %}
                    <p class="title">Catégories</p>
                </a>
                <a href="#" class="item S {% if current == 2 %} active {% endif %} ">
                    {% include 'svg/Search.svg.twig' %}
                    <p class="title">Recherche</p>
                     <input type="text" name="search">
                </a>
            </div>
            <div class="loggedOut">
                <a id="logIn" href="{{ path('user.form') }}">Log in</a>
                <a href="#">Sign in</a>
            </div>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
