<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}تعرفشي؟!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/Client.css') }}">
    {% endblock %}
</head>
<body>
{% if current is not defined %}
    {% set current = -1 %}
{% endif %}
<div class="page_container">
    <header>
        <div class="logo">
            <a href="{{ path('landing_page') }}">
                <img src="{{ asset('img/logo.png') }}" alt="logo">
            </a>
        </div>
        <div class="menu carved">
            <a href="{{ path('landing_page') }}" class="item {% if current == 0 %} active {% endif %}">
                <i class="fa fa-home fa-2x carved" aria-hidden="true"></i>
                <p class="title">Accueil</p>
            </a>
            <div class="dropdown">
                <a class="item {% if current == 1 %} active {% endif %}">
                <i class="fa fa-list-alt fa-2x carved" aria-hidden="true"></i>
                    <p class="title">Catégories</p></a>
                <div class="dropdown-content">
                    {% for categorie in categories %}
                    <a href="#">{{ categorie.profession }}</a>
                    {% endfor %}
                </div>
            </div>
            <a href="#" class="item S {% if current == 2 %} active {% endif %} ">
                <i class="fa fa-search fa-2x carved" aria-hidden="true"></i>

                <p class="title">Recherche</p>

                <input type="text" name="search">
            </a>
        </div>
{#        {% if userFromCookie is not defined %}#}
            {% if app.session.has('user')%}
                {% set user = app.session.get('user')%}
                {% if user is not null %}

                    <div class="badge dropdown">
                        <div class="menu connected" onclick="myFunction()">
                            <a href="#" >
                                <p class="title">{{ user.Prenom }} {{ user.nom }}</p>
                                <img height="35px" width="35px" src="{{ user.photo }}">
                            </a>
                            <i style="
                            margin-left: 3px;
                            margin-right: 5px;
                            margin-top: 7px;
                            color: #ffe8a1;"
                               class="fa fa-caret-down fa-2x badge"
                               aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-content" id="user-menu">
                            <a href="{{ path('user.alter') }}">Modifier mon compte</a>
                            <a href="">Voir mes offres</a>
                            <a href="">Support</a>
                            <a href="{{ path('user.log_out') }}">Déconnexion</a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                    <div class="connection">
                        <a id="SignIn" href="{{ path('log_in') }}">se connecter</a>
                        <a id="SignUp" href="{{ path('user.form') }}">s'inscrire</a>
                    </div>
            {% endif %}
    </header>

    {% block body %}{% endblock %}

    <footer style="display: flex; justify-content: space-between">
        <a href="{{ path('landing_page') }}">
            <img src="{{ asset('img/logo.png') }}" alt="logo">
        </a>
        <div class="info">
            <h3>About us</h3>
            This site is made as a school project<br>
            by a student. It's aim is to makeit easier<br>
            to find a service or to offer it
        </div>
        <div class="contact" style="margin-right: 50px">
            <div style="display:flex; flex-direction: row">
                <i style="padding-right: 20px; padding-top: 20px" class="fa fa-map-marker fa-1x" aria-hidden="true"></i>
                <div>
                    <h4 style="margin: 13px 0 0 0">INSAT, North urban center</h4>
                    <h5 style="margin: 0 0 0 0">Tunis, Tunisia</h5>
                </div>
            </div>
            <div style="display:flex; flex-direction: row">
                <i style="padding-right: 20px; padding-top: 20px" class="fa fa-phone fa-1x" aria-hidden="true"></i>
                <div>
                    <h5 style="margin: 20px 0 0 0 ">+216 53 029 825</h5>
                </div>
            </div>
            <div style="display:flex; flex-direction: row">
                <i style="padding-right: 20px; padding-top: 20px" class="fa fa-envelope fa-1x" aria-hidden="true"></i>
                <div>
                    <h5>mohamedbensalah@insat.u-carthage.tn</h5>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{{ asset('js/landingPage.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>