{% extends 'base.html.twig' %}

{% block body %}
    <style>
        a {
            text-decoration: none !important;
        }
    </style>
    {% for message in app.session.flashBag.get('file_error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
{% endblock %}

{% block title %}Job{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-form/bootstrap.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/job_form.css') }}">
{% endblock %}