{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.session.flashBag.get('restore_error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <form action="{{ path('user.change.password.check', {'id': id}) }}" method="post">
        <div class="form-group">
            <label for="user_password">Mot de passe</label>
            <input type="password" id="user_password" name="password" required="required" class="form-control">
        </div>
        <div class="form-group">
            <label for="user_password_check">Retapez mot de passe</label>
            <input type="password" id="user_password_check" name="password_check" required="required" class="form-control">
        </div>
        <input type="submit" class="submit" value="Confirmer">
    </form>
{% endblock %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-form/bootstrap.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login_form.css') }}">
{% endblock %}