{% extends 'base.html.twig' %}
{% block title %}Sign Up!{% endblock %}

{% block body %}
    <h1>Veuillez remplir ce formulaire pour créer un compte</h1>
    {{ form_start(form)}}
    <div class="row" id="dataset1">
        <div class="col-4">
            {{ form_row(form.prenom) }}
        </div>
        <div class="col-4">
            {{ form_row(form.nom) }}
        </div>
    </div>
    <div class="row" id="dataset2">
        <div style="
    display: flex;
    justify-content: space-between;">
        <div class="col-4">
            {{ form_row(form.email) }}
        </div>
        <div class="col-4">
            {{ form_row(form.motDePasse) }}
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="user_password" class="required">Mot de passe</label>
                <input type="password" id="user_password" name="passwordCheck" required="required" class="form-control"></div>
        </div>
        {% for message in app.session.flashBag.get('alert') %}
            <div class="alert alert-danger carved">
                {{ message }}
            </div>
        {% endfor %}
        </div>
    </div>
    <div id="dataset3">

        <div class="captcha">
            <div class="g-recaptcha" data-sitekey="6Ld9-f4UAAAAAIk8aKlP1EJYXUmG8K770hxFrNID"></div>
        </div>
        {{ form_row(form.telephone) }}
        {{ form_row(form.gouvernorat) }}
        {{ form_row(form.dateDeNaissance) }}

        <div class="row gender">
            {{ form_row(form.sexe) }}
        </div>
        {{ form_row(form.description) }}
    </div>
    <div class="container carved">
        <div class="check">
            <input type="checkbox" name="terms" id="check1" value="1">
            <label for="check1">I agree to the <a href="">Terms of use</a> </label>
        </div>
        <div class="check">
            <input type="checkbox" name="privacy" id="check2" value="1">
            <label for="check2">I've read and I agree to the <a href="">privacy policy</a> </label>
        </div>
    </div>

    {% for message in app.session.flashBag.get('required') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_row(form.confirmer) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-form/bootstrap.css') }}">
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="{{ asset('css/sign_up.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}